{% extends 'neighbourapp/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}


<div class="media row">
<div class="col-md-2"></div>
    <div class="col-md-3">
        <img class="account-img" src="{{ user.profile.image.url }}">
    </div>


    <div class="col-md-5 text-center mt-3">
        <div class="media-body">
            <div class="account-heading">

                <span class="mr-3 text-secondary username">{{ user.username }}</span>

                <a href="{% url 'profile' %}" class="btn btn-sm btn-outline-secondary mr-3"><strong>EditProfile</strong>
                </a>
            </div>

            <p class="text-secondary">{{ user.profile.bio }}</p>
            <div class="project-details mt-3 mb-3">
                <span class="mr-5"><strong>{{projects.count}}</strong> Projects</span>
            </div>

            
            <div>
                <p class="text-secondary">Location:{{ user.profile.location }}</p>
            </div>

            <br>
            
            <div class="btn btn-danger">
                <a href="{% url 'logout' %}">Log out</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    {% for project in projects %}
    <div class="card mb-4 mt-4">
        <div class="card-body">
            <div class="card-text">
                <a href="{% url 'project-detail' project.id %}" class="article-title">
                    <div style="background-image: url({{ project.image.url}});background-size: contain;position: sticky">
                        <img src="{{ project.image.url }}" style="visibility: hidden;" width="100%" />
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}